<form method='post'>
    Enter operand a:<br>
    <input type='text' name='tb_a' /><br>
    Enter operand b:<br>
    <input type='text' name='tb_b' /><br>
    <input type='submit' value='Add' />
</form>


