<form method='post'> 
    <input type='text' name='op_a' /> 
    <select name="oper">
        <option>+</option>
        <option>-</option>
        <option>*</option>
        <option>/</option>
    </select>
    <input type='text' name='op_b' />
    <input type='submit' value='Add' />
</form>


